
<section class='conclusion'>

  <!-- <p class='conclusion-title'>{{copy.conclusion-title}} -->

  <div class='spark-container'>
    <div class='spark-hed'>
      <p class='spark-title tk-atlas'>{{{copy.spark-title-world}}}</p>
      <p class='prose'>{{{copy.spark-world-intro}}}</p>
      <!-- <p class='spark-sub tk-atlas'>{{{copy.spark-us}}}</p> -->
    </div>
    <!-- <p class='spark-title tk-atlas'>{{{copy.spark-world}}}</p> -->
    <div class='spark spark-world' data-groups='world'></div>
  </div>

  <div class='text-content'>

    <p class='prose'>{{{copy.conclusion-intro}}}</p>

    <ul>
      {{#each copy.conclusion}}
        <li>{{{this}}}</li>
      {{/each}}
    </ul>

    {{#each copy.conclusion-post}}
      <p class='prose'>{{{value}}}</p>
    {{/each}}

  </div>
</section>
