<div class='text-content'>

  <p class='section-sub loaded-atlas tk-atlas'>{{copy.part2-1-sub}}</p>

  {{#each copy.part2-1-intro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <img src='assets/img/round21.jpg' class='part21img'>

  <p class='section-sub tk-atlas'>{{copy.nigeria-title}}</p>



  {{#each copy.nigeria-intro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</div>

<div class='scroll-nigeria comp-brawl' data-competitors='nigerian-best'>
  <div class='scroll-graphic comp-brawl_graphic'>
    <div class='chart'>

      <div class='graphic-hed'>
        <p class='graphic-title tk-atlas'>{{{copy.part1-graphic-title}}}</p>
        <p class='graphic-sub tk-atlas'>{{{copy.nigeria-graphic-sub}}}</p>
        <p class='graphic-legend tk-atlas'>{{{copy.nigeria-graphic-legend}}}</p>

        <div class='ui brawl-ui'>
          <div class='ui-display'>
            <p class='ui-display_prompt tk-atlas'>Show Me</p>
            <div class='ui-display_button' id='shades' data-competitors='nigerian-best' data-action='swatch'>
              <p class='ui-button ui-button_shade tk-atlas'>Shades</p>
            </div>
            <div class='ui-display_button' id='count' data-competitors='nigerian-best' data-action='num'>
              <p class='ui-button ui-button_count tk-atlas'>Count</p>
            </div>
          </div>

          <div class='ui-fenty'>
            <label class='toggle'>
              <input type='checkbox' data-competitors='nigerian-best'>
              <span class='slider'></span>
            </label>

            <p class='ui-fenty_prompt tk-atlas'>Compare to Fenty</p>
          </div>
        </div>
      </div>

      <div class='brawl brawl-nigeria' data-competitors='nigerian-best'>
      </div>

    </div>
  </div>

  <div class='scroll-text'>
    {{#each copy.steps-nigeria}}
      <div class='step' data-step='{{stepNumber}}'>
        <p>{{{text}}}</p>
      </div>
    {{/each}}
  </div>

</div>
