
  <div class='spark-container'>
    <div class='spark-hed'>
      <p class='spark-title tk-atlas'>{{{copy.spark-title}}}</p>
      <p class='prose'>{{{copy.spark-us-intro}}}</p>
      <!-- <p class='spark-sub tk-atlas'>{{{copy.spark-us}}}</p> -->
    </div>

    <div class='spark-group' data-groups='us'>
      <p class='spark-main-title'>{{{copy.spark-us}}}</p>
      <div class='spark spark-us' data-groups='us'></div>
    </div>
  </div>

  <div class='text-content part1-conclusion'>
    <!-- <p class='conclusion-title section-sub tk-atlas'>{{{copy.part1-conclusion-title}}}</p> -->
    <p class='prose'>{{{copy.part1-conclusion-sub}}}</p>
    <ul>
      <li class=nails>Fenty foundations have a wider range of shades than Make Up Forever</li>
      <li class=clap>Many of the mainstream brands and Fenty have a wide assortment of shades for BIPOC</li>
      <li class=dark-down>Very few brands support the darkest skin tone range (10 - 20 lightness). Fenty isn't one of them.</li>
      <li class=light-up>If you have really light skin, Fenty or BIPOC-founded <a href='https://www.beautybakerie.com/' target=_blank>Beauty Bakerie</a> have got you covered.</li>
      <li class=point>Having 40 shades as a BIPOC-created brand really is unique</li>
    </ul>


    {{#each copy.part1-post-conclusion}}
      <p class='prose'>{{{value}}}</p>
    {{/each}}
  </div>
