<section id='part-1'>
  <div class='text-content'>
    <p class='section-head'>{{{copy.part1-title}}}</p>
    <p class='section-sub loaded-atlas tk-atlas'>{{copy.part1-sub}}</p>

    {{#each copy.part1-intro}}
      <p class='prose'>{{{value}}}</p>
    {{/each}}

    {{> story/measurement }}

    {{#each copy.part1-contd}}
      <p class='prose'>{{{value}}}</p>
    {{/each}}
  </div>


  <div class='scroll scroll-part1'>
    <div class='scroll-graphic'>
      <div class='chart'>

        <div class='graphic-hed'>
          <p class='graphic-title tk-atlas'>{{{copy.part1-graphic-title}}}</p>
          <p class='graphic-sub tk-atlas'>{{{copy.part1-graphic-sub}}}</p>
          <p class='graphic-legend tk-atlas'>{{{copy.part1-graphic-legend}}}</p>
        </div>

        <div class='h2h h2h-part1' data-comp1='fe', data-comp2='mu'>
        </div>

      </div>
    </div>

    <div class='scroll-text'>
      {{#each copy.steps-part1}}
        <div class='step' data-step='{{stepNumber}}'>
          <p>{{{text}}}</p>
        </div>
      {{/each}}
    </div>

  </div>
</section>

{{> story/divider }}
