<div class='text-content'>
  {{> story/divider }}

  <p class='section-sub tk-atlas'>{{copy.part1-2-title}}</p>
  {{#each copy.part1-2-intro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
  <img src='assets/img/round13.jpg' class='part13img'>
</div>

{{> story/divider }}

<div class='scroll-poc-marketed comp-brawl' data-competitors='poc-marketed'>
  <div class='scroll-graphic'>
    <div class='chart'>

      <div class='graphic-hed'>
        <p class='graphic-title tk-atlas'>{{{copy.part1-graphic-title}}}</p>
        <p class='graphic-sub tk-atlas'>{{{copy.part1-usbest-graphic-sub}}}</p>
        <p class='graphic-legend tk-atlas'>{{{copy.part1-brawl-graphic-legend}}}</p>

        <div class='ui brawl-ui'>
          <div class='ui-display'>
            <p class='ui-display_prompt tk-atlas'>Show Me</p>
            <div class='ui-display_button' id='shades' data-competitors='poc-marketed' data-action='swatch'>
              <p class='ui-button ui-button_shade tk-atlas'>Shades</p>
            </div>
            <div class='ui-display_button' id='count' data-competitors='poc-marketed' data-action='num'>
              <p class='ui-button ui-button_count tk-atlas'>Count</p>
            </div>
          </div>

          <div class='ui-fenty'>
            <label class='toggle'>
              <input type='checkbox' data-competitors='poc-marketed'>
              <span class='slider'></span>
            </label>

            <p class='ui-fenty_prompt tk-atlas'>Compare to Fenty</p>
          </div>
        </div>
      </div>

      <div class='brawl brawl-pocMarketed' data-competitors='poc-marketed'>
      </div>

    </div>
  </div>

  <div class='scroll-text'>
    {{#each copy.steps-part1-usbest}}
      <div class='step' data-step='{{stepNumber}}'>
        <p>{{{text}}}</p>
      </div>
    {{/each}}
  </div>

</div>
