<div class='text-content'>
    <img src='assets/img/round13.jpg' class='part13img'>
  <p class='section-sub'>{{copy.part1-3-title}}</p>
  <div class='bipoc-def'>
    <p class='definition'>{{{copy.bipoc-def}}}</p>
  </div>
  {{#each copy.part1-3-intro}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}


  <div class='founders-table'>
    <p class='prose founders-table-header'>{{copy.founders-table-header}}</p>
    <div class='columns'>
      <div class='bipoc-white bipoc-column'>
        <p class='bipoc-title'>{{copy.white-founder-title}}</p>
        <ul class='bipoc-list_white bipoc-list'>
          {{#each copy.white-founders}}
            <li>{{{this}}}</li>
          {{/each}}
        </ul>
      </div>
      <div class='bipoc-bipoc bipoc-column'>
        <p class='bipoc-title'>{{copy.bipoc-founder-title}}</p>
        <ul class='bipoc-list_bipoc bipoc-list'>
          {{#each copy.bipoc-founders}}
            <li>{{{this}}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{#each copy.part1-3-intro2}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}


</div>

<div class='scroll-poc-marketed comp-brawl' data-competitors='poc-marketed'>
  <div class='comp-brawl_graphic scroll-graphic'>
    <div class='chart'>

      <div class='graphic-hed'>
        <p class='graphic-title'>{{{copy.part1-graphic-title}}}</p>
        <p class='graphic-sub'>{{{copy.part1-3-graphic-sub}}}</p>
        <p class='graphic-legend'>{{{copy.part1-brawl-graphic-legend}}}</p>

        <div class='ui brawl-ui'>
          <div class='ui-display'>
            <p class='ui-display_prompt'>Show Me</p>
            <div class='ui-display_button' id='shades' data-competitors='poc-marketed' data-action='swatch'>
              <p class='ui-button ui-button_shade'>Shades</p>
            </div>
            <div class='ui-display_button' id='count' data-competitors='poc-marketed' data-action='num'>
              <p class='ui-button ui-button_count'>Count</p>
            </div>
          </div>

          <div class='ui-fenty'>
            <label class='toggle'>
              <input type='checkbox' data-competitors='poc-marketed'>
              <span class='slider'></span>
            </label>

            <p class='ui-fenty_prompt'>Compare to Fenty</p>
          </div>
        </div>
      </div>

      <div class='brawl brawl-pocMarketed' data-competitors='poc-marketed'>
      </div>

    </div>
  </div>

  <div class='scroll-text'>
    {{#each copy.steps-part1-3}}
      <div class='step' data-step='{{stepNumber}}'>
        <p>{{{text}}}</p>
      </div>
    {{/each}}
  </div>

  <div class='mobile-text'>
    {{#each copy.mobile-13}}
      <p class='prose'>{{{value}}}</p>
    {{/each}}
  </div>
</div>

<!--
{{#each copy.part1-3-pre}}
  <p class='prose'>{{{value}}}</p>
{{/each}}

<div class='spark spark-bipoc' data-groups='us'></div>

{{#each copy.part1-3-post}}
  <p class='prose'>{{{value}}}</p>
{{/each}}
-->
